<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Project Manager App</title>

  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css">

  <!-- Semantic -->
  <link rel="stylesheet" href="/css/semantic/semantic.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
</head>
<body>
  <nav class="nav">
    <div class="left">
      <i class="fas fa-users fa-4x"></i>
      <h2 class="logo"><a href="/views/pages/index.ejs">Project Manager App</a></h2>
    </div>
    <div class="right">
      <li><a href="/">Home</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/projects/new">New Project</a></li>
    </div>
    <div class="clear"></div>
    
  </nav>